# Application
NODE_ENV=development
PORT=3000
DATABASE_ENABLED=false

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_db_username
DB_PASSWORD=your_secure_password
DB_NAME=your_db_name

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=1d
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRATION=7d

# Throttling
THROTTLE_TTL=60
THROTTLE_LIMIT=10

# Swagger
SWAGGER_ENABLED=true

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:5173

# Mail Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=noreply@wishzy.com

# Frontend URL
FRONTEND_URL=http://localhost:3001

# VNPay Configuration
VNP_TMNCODE=YOUR_TMN_CODE
VNP_SECRET=YOUR_HASH_SECRET
VNP_HOST=https://sandbox.vnpayment.vn
VNP_RETURN_URL=http://localhost:8000/api/v1/orders/vnpay-callback

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

BUNNY_URL=https://video.bunnycdn.comasdasd
BUNNY_API_KEY=adsasdasdasd
BUNNY_LIBRARY_ID=517028asdas